<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Caesar Cypher</title>
</head>
<body>
  <div class="container">
    <div class="game">
    <h2>Caesar's Cypher</h2>
      <form>
        <input type="text" name="string_input">
        <input type="number" name="integer_input">
        <input type="submit" value="encript!">
      </form>
      <p> <%= ui_response %> </p>
    </div>
  </div>
</body>
</html>